.main {
  display: flex;
  flex-direction: row;
  padding: 0px 0 0 15px;
}
.sidebar_component {
}

.main_component {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0px 0 30px;
  width: 100%;
  width: 100vw;
}
