.sidebar-item {
  display: flex;
  width: 240px;
  font-family: "Roboto", sans-serif;
  opacity: 0.6;
}
.sidebar-item:hover {
  background-color: #4c4c4c;
  opacity: 0.9;
  cursor: pointer;
}
#sidebar-item-active {
  background-color: #4c4c4c;
  opacity: 1;
}
.sidebar-item-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;

  padding: 10px 0 0 10px;
}

.sidebar-item-icon {
  margin: 8px 0 8px 0;
  padding: 0 0 0 8px;
}
